<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/myapp/form.css' %}" />
    <title>Form</title>
  </head>
  <body>
    <div class="container">
      {% comment %} logo {% endcomment %}
      <div class="header">
        {% load static %}
        <img
          src="{% static '/myapp/logo.png' %}"
          alt="Explorin logo"
          class="logo"
        />
      </div>
      {% comment %} form {% endcomment %}
      <div class="form">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>
      </div>
      {% comment %} back button {% endcomment %}
      <div class="back">
        <button class="btn back-btn">
          <a href="{% url 'table' %}">Back</a>
        </button>
      </div>
    </div>
  </body>
</html>
